In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# Pengumpulan Data

In [2]:
ds = pd.read_csv("Sample - Superstore.csv")
ds.head(100)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,US-2017-109484,11/6/2017,11/12/2017,Standard Class,RB-19705,Roger Barcio,Home Office,United States,Portland,...,97206,West,OFF-BI-10004738,Office Supplies,Binders,Flexible Leather- Look Classic Collection Ring...,5.6820,1,0.70,-3.7880
96,97,CA-2017-161018,11/9/2017,11/11/2017,Second Class,PN-18775,Parhena Norris,Home Office,United States,New York City,...,10009,East,FUR-FU-10000629,Furniture,Furnishings,9-3/4 Diameter Round Wall Clock,96.5300,7,0.00,40.5426
97,98,CA-2017-157833,6/17/2017,6/20/2017,First Class,KD-16345,Katherine Ducich,Consumer,United States,San Francisco,...,94122,West,OFF-BI-10001721,Office Supplies,Binders,Trimflex Flexible Post Binders,51.3120,3,0.20,17.9592
98,99,CA-2016-149223,9/6/2016,9/11/2016,Standard Class,ER-13855,Elpida Rittenbach,Corporate,United States,Saint Paul,...,55106,Central,OFF-AP-10000358,Office Supplies,Appliances,Fellowes Basic Home/Office Series Surge Protec...,77.8800,6,0.00,22.5852
99,100,CA-2016-158568,8/29/2016,9/2/2016,Standard Class,RB-19465,Rick Bensley,Home Office,United States,Chicago,...,60610,Central,OFF-PA-10003256,Office Supplies,Paper,Avery Personal Creations Heavyweight Cards,64.6240,7,0.20,22.6184

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
ds.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## EDA

In [5]:
ds.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [6]:
ds.nunique()

Row ID           9994
Order ID         5009
Order Date       1237
Ship Date        1334
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              531
State              49
Postal Code       631
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            5825
Quantity           14
Discount           12
Profit           7287
dtype: int64

In [7]:
ds.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [8]:
ds.corr()

               Row ID  Postal Code     Sales  Quantity  Discount    Profit
Row ID       1.000000     0.009671 -0.001359 -0.004016  0.013480  0.012497
Postal Code  0.009671     1.000000 -0.023854  0.012761  0.058443 -0.029961
Sales       -0.001359    -0.023854  1.000000  0.200795 -0.028190  0.479064
Quantity    -0.004016     0.012761  0.200795  1.000000  0.008623  0.066253
Discount     0.013480     0.058443 -0.028190  0.008623  1.000000 -0.219487
Profit       0.012497    -0.029961  0.479064  0.066253 -0.219487  1.000000

In [9]:
ds['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [10]:
ds['Sub-Category'].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [11]:
# ds.replace(to_replace=["South", "South", "West", "Central", "East"], value=[1,2,3,4,5], inplace=True)

In [12]:
# ds.replace(to_replace=['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
#        'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
#        'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
#        'Copiers'], value=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17], inplace=True)

In [13]:
ds['Sub-Category']

0         Bookcases
1            Chairs
2            Labels
3            Tables
4           Storage
           ...
9989    Furnishings
9990    Furnishings
9991         Phones
9992          Paper
9993     Appliances
Name: Sub-Category, Length: 9994, dtype: object

# preprocessing

In [14]:
X = ds.drop(['Profit', 'Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'State', 'Postal Code', 'Product ID', 'Category', 'Quantity', 'City', 'Product Name'], axis=1)
y = ds['Profit']

In [15]:
print("Kolom var X", X.columns)

Kolom var X Index(['Region', 'Sub-Category', 'Sales', 'Discount'], dtype='object')

In [16]:
from sklearn.preprocessing import LabelEncoder

X1 = X.select_dtypes('object')

for klm in X1.columns:
    lb = LabelEncoder()
    X[klm] = lb.fit_transform(X1[klm].values)

X

      Region  Sub-Category     Sales  Discount
0          2             4  261.9600      0.00
1          2             5  731.9400      0.00
2          3            10   14.6200      0.00
3          2            16  957.5775      0.45
4          2            14   22.3680      0.20
...      ...           ...       ...       ...
9989       2             9   25.2480      0.20
9990       3             9   91.9600      0.00
9991       3            13  258.5760      0.20
9992       3            12   29.6000      0.00
9993       3             1  243.1600      0.00

[9994 rows x 4 columns]

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.pipeline import Pipeline

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
RandForReg = RandomForestRegressor(n_estimators=150, max_depth=7, random_state=5)

In [20]:
RandForReg.fit(X_train, y_train)

RandomForestRegressor(max_depth=7, n_estimators=150, random_state=5)

In [21]:
RandForReg.feature_importances_

FiturPenting = pd.DataFrame({'koefisiensi': RandForReg.feature_importances_}, index=X.columns).sort_values('koefisiensi')
FiturPenting

              koefisiensi
Region           0.024505
Sub-Category     0.054662
Discount         0.258480
Sales            0.662353

In [22]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(7995, 4) (7995,)
(1999, 4) (1999,)

In [23]:
print(X_train.shape, y_train.dtype)
print(X_test.shape, y_test.dtype)

(7995, 4) float64
(1999, 4) float64

In [29]:
Y_pred = RandForReg.predict(X_test)
mse = mean_squared_error(y_test, Y_pred)
H_mse_RandForReg = mse**(1/2)

## Evaluasi

In [25]:
print("Acc Train RandForReg: ",RandForReg.score(X_train, y_train))
print("ACC Test RandForReg: ", RandForReg.score(X_test, y_test))

Acc Train RandForReg:  0.9110681964366611
ACC Test RandForReg:  0.8655335996442649

In [30]:
print("MSE Random Forest Regressor:", H_mse_RandForReg)

MSE Random Forest Regressor: 86.87509287034214

In [41]:
mape = mean_absolute_error(y_test, Y_pred)
Y_pred_train = RandForReg.predict(X_train)
mape_train = mean_absolute_error(y_train, Y_pred_train)
print("MAPE data uji: ", mape)
print("MAPE data latih: ", mape_train)

MAPE data uji:  25.886805006163364
MAPE data latih:  22.35376602097141